//nexus.marecrew.com/repository/argo-npm-group/:_authToken=${NEXUS_TOKEN}
//nexus.marecrew.com/repository/argo-npm-hosted/:_authToken=${NEXUS_TOKEN}
always-auth=true
registry=https://nexus.marecrew.com/repository/argo-npm-group/
